<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
  <appSettings>
    <add key = "logPath" value = "."/>
    <add key = "OpenWeatherMapKey" value ="c2b238d710aa8593924a3d04ba80ca97"/>
    <add key ="requestUri" value ="//https://api.openweathermap.org/data/2.5/weather?q={city name}&appid={API key}"/>
  </appSettings>
  <connectionStrings>
    <add name=" OpenWeatherMapKey" connectionString="c2b238d710aa8593924a3d04ba80ca97"/>
  </connectionStrings>
</configuration>